[package]
name = "zpgen-wasm"
version = "0.1.0"
edition = "2018"

[lib]
crate-type = ["rlib"]

[dependencies]
serde = { version = "1.0", features = ["derive"] }

[profile.release]
opt-level = 3
lto = true
